<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="footer text-center f-info " >
<div  class=" socials">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-instagram"></i>
</div> 
 <div class="brand "><p > &copy; Wanderlust Private Limited</p></div>
<br>
 <div class="terms"><a > Privacy Terms</a></div>
</div> 
</body>
</html>
