<% layout("layouts/boilerplate.ejs") %>

<style>
#filters{
  display: flex ;
  flex-wrap: wrap;
  align-items: center;
}
.filter{
  text-align: center;
  margin-right: 2rem ;
  margin-top: 2rem ;
  opacity: 0.7 ;
}
.filter:hover{
  opacity: 1 ;
  cursor: pointer;
}
.filter p{
  font-size:0.8rem ;
}
.tax-info{
  display: none;
}
.tax-toggle{
  border: 1px solid black ;
  border-radius: 1rem;
  height:3.5rem ;
  padding: 1rem;
  margin-left:3rem;
  display: flex;
  align-items: center;
}
</style>

<body class="d-flex flex-column min-vh-100">
  <div id="filters">
    <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
    </div>
    
  <div class="filter"><a  href="http://localhost:8082/listings/filter/Rooms">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p></a>
    </div>
       <div class="filter">
   <a  href="http://localhost:8082/listings/filter/Iconic Cities"> <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic Cities</p></a>
    </div>
    
  <div class="filter">
  <a  href="http://localhost:8082/listings/filter/Mountains"> <div><i class="fa-solid fa-mountain-sun"></i></div>
    <p>Mountains</p> </a>
    </div>
       <div class="filter">
   <a  href="http://localhost:8082/listings/filter/Amazing Pools"><div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p> </a>
    </div>
    
  <div class="filter">
    <a  href="http://localhost:8082/listings/filter/Castles"><div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p> </a>
    </div>
    <div class="filter">
   <a  href="http://localhost:8082/listings/filter/Camping"></a> <div><i class="fa-solid fa-tent"></i></div>
    <p>Camping</p> </a>
    </div>
       <div class="filter">
  <a  href="http://localhost:8082/listings/filter/Farms"><div> <i class="fa-solid fa-tent"></i></div>

    <p>Farms</p> </a>
    </div>
       <div class="filter">
   <a  href="http://localhost:8082/listings/filter/Boats"><div><i class="fa-solid fa-sailboat"></i></div>
    <p>Boats</p> </a>
    </div>
      <div class="filter">
  <a  href="http://localhost:8082/listings/filter/Domes">  <div><i class="fa-solid fa-igloo"></i></div>
    <p>Domes</p> </a>
    </div>
  <div class="filter ">
   <a  href="http://localhost:8082/listings/filter/Arctic"> <div><i class="fa-solid fa-snowman"></i> </div>
    <p>Arctic</p> </a>
    </div> 
    <div class="tax-toggle">
    <div id="flexSwitchCheckDefault" class="form-check form-switch form-check-reverse">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display after taxes</label>
</div>
   </div></div>
  <div class="row row-cols-lg-3 row-cols-md2 row-cols-sm-1 mt-3">

     <% for(listing of alllistings ){ %>
    <div class="card listing-card col"  style="width : 20rem ;">
        
          <a  class="listing" href="http://localhost:8082/listings/<%= listing._id %>/show">
            <img src="<%=listing.image.url %>" class="card-img-top " style="height: 20rem;" alt="image" >
            
            <div class="card-img-overlay"></div>
        <div class="card-body">
          <b class="card-title"><%= listing.title %></b> 
          <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %>/ night<i class="tax-info">&nbsp; &nbsp; +18% GST</i></p>
       
        </div>
      </a> 
    </div>
    <% }%>
    </div>
</body>
<script> 

  let taxSwitch = document.getElementById("flexSwitchCheckDefault") ;
  taxSwitch.addEventListener("click" , ()=>{
    let taxInfo = document.getElementsByClassName("tax-info") ;
    for(info of taxInfo){
      if(info.style.display != "inline"){
       info.style.display = "inline" ; 
      }else{
          info.style.display="none"
    }
}
  })
</script>
